ul,li,p,dl,dd,h1,h2,h3,h4,h5,h6{padding:0;margin:0}ul,li,ol{list-style:none}em{font-style:normal}.icon-checkbox{display:inline-block;width:14px;height:14px;line-height:14px;font-size:14px;font-weight:bold;text-align:center;border:1px solid #8c8c8c;background:#fff;vertical-align:middle;color:#fff}.icon-checkbox-checked{color:#90ce36}.checkout-box{background:#fff}.checkout-box .checkout-box-ft{padding-top:10px}.checkout-box .xm-box{border:none;margin-bottom:20px}.checkout-box .xm-box .box-hd{height:44px;padding-top:6px;margin-bottom:20px}.checkout-box .xm-box .box-hd .title{margin:0;line-height:44px}.addr-list-toggle-wrap{display:block;height:20px;margin-top:20px;text-align:center;border-top:1px solid #dfdfdf;zoom:1;position:relative}.addr-list-toggle-wrap span{display:block;width:98px;height:18px;line-height:1;border:1px solid #dfdfdf;border-top:1px solid #fff;cursor:pointer;position:absolute;top:-1px;left:50%;margin-left:-50px;text-align:center}.addr-list-toggle-wrap span .arrow{font-size:16px}.addr-list-toggle-wrap .on .arrow{display:inline-block;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.xm-address-list{margin-left:-10px}.xm-address-list .item{float:left;_display:inline;width:264px;height:160px;padding:15px 18px;position:relative;border:1px solid #dfdfdf;margin:0 0 10px 10px;cursor:pointer;background:#fafafa}.xm-address-list .item:hover{background:#f3f3f3}.xm-address-list .item .edit-btn{display:none;width:58px;height:18px;line-height:18px;margin-top:8px;text-align:center;color:#333;font-size:12px;cursor:pointer;border:1px solid #dfdfdf}.xm-address-list .item dt{margin:0;height:30px;line-height:30px;margin-bottom:10px;border-bottom:1px solid #dfdfdf;color:#333}.xm-address-list .item dt strong{float:left;font-weight:400}.xm-address-list .item dt span{float:right}.xm-address-list .item dt .tag{height:18px;line-height:18px;margin-top:6px;padding:0 10px;font-size:12px;background:#dfdfdf}.xm-address-list .item dd{margin:0;line-height:1.6;color:#6d6d6d}.xm-address-list .item dd .tel{color:#333}.xm-address-list .selected{border-color:#ff4a00;background:#fff;cursor:default}.xm-address-list .selected:hover{background:#fff}.xm-address-list .selected .edit-btn{display:block;background:#f3f3f3}.xm-address-list .use-new-addr{text-align:center;color:#8c8c8c}.xm-address-list .use-new-addr .icon-add{display:block;margin-top:37px;font-size:36px;line-height:1;font-weight:normal}.xm-edit-addr-backdrop{display:none;width:100%;height:100%;position:absolute;top:0;left:0;background:#000;opacity:.3;filter:alpha(opacity=30);z-index:1040}.xm-edit-addr-box{display:none;position:absolute;background:#fff;border:1px solid #ff4a00;z-index:1050}.xm-edit-addr-box .bd{padding:20px}.xm-edit-addr-box .bd .item{margin-bottom:10px}.xm-edit-addr-box .bd .item label{display:none;margin-bottom:5px}.xm-edit-addr-box .bd .item label span{color:#ee330a}.xm-edit-addr-box .bd .item .input,.xm-edit-addr-box .bd .item .input-area{width:240px;background:#fff;border:1px solid #dfdfdf;color:#333}.xm-edit-addr-box .bd .item .input:focus,.xm-edit-addr-box .bd .item .input-area:focus{border-color:#ff4a00;outline:none}.xm-edit-addr-box .bd .item .input{height:28px;line-height:28px;padding:0 10px}.xm-edit-addr-box .bd .item .input-area{height:40px;line-height:20px;padding:5px 10px}.xm-edit-addr-box .bd .item .xm-ph-blur{color:#8c8c8c}.xm-edit-addr-box .bd .item select{margin-right:5px;margin-bottom:8px}.xm-edit-addr-box .bd .item .select-1,.xm-edit-addr-box .bd .item .select-2{width:124px}.xm-edit-addr-box .bd .item .select-2{margin-right:0}.xm-edit-addr-box .bd .item .select-3{width:260px;margin-right:0}.xm-edit-addr-box .bd .item .zipcode-tip{margin:5px 0 0;font-size:12px;color:#8c8c8c}.xm-edit-addr-box .bd .item .tel-modify-tip{display:none;margin-top:5px;color:#8c8c8c;font-size:12px}.xm-edit-addr-box .bd .item .tel-modify-tip em{color:#ee330a}.xm-edit-addr-box .bd .item .tip-msg{display:none;margin-top:5px;color:#f32f39;font-size:12px}.xm-edit-addr-box .ft{padding:20px;background:#fafafa;text-align:center}.xm-edit-addr-box .ft .btn{width:124px}.xm-edit-addr-box .ft .btn-lineDake{float:left;border-color:#dfdfdf}.xm-edit-addr-box .ft .btn-primary{float:right}@media (max-width:1200px){.xm-address-list .item{width:265px}}.xm-address-list .tip{margin:0 0 10px 10px;color:#d6313a}.checkout-option-list li{float:left;min-width:125px;_width:125px;padding:15px 30px;border:1px solid #dfdfdf;margin-right:10px;background:#fafafa;cursor:pointer;white-space:nowrap}.checkout-option-list li:hover{background:#f3f3f3}.checkout-option-list li input{display:none}.checkout-option-list li p{color:#333}.checkout-option-list li p span{display:block;line-height:1.2;color:#6d6d6d;font-size:12px}.checkout-option-list .selected{border-color:#ff4a00;background:#fff}.checkout-option-list .selected:hover{background:#fff}.e-invoice-tip{margin-top:10px;font-size:12px;color:#6d6d6d}.e-invoice-tip a{color:#ff4a00}.invoice-info{width:620px;padding:20px 30px;margin-top:20px;border:1px solid #dfdfdf}.nvoice-info-1 p{color:#333;line-height:1.8}.nvoice-info-1 .tip{color:#f32f39}.nvoice-info-1 dl{margin-top:15px;font-size:12px;color:#8c8c8c}.nvoice-info-1 dl dt{margin-bottom:8px}.invoice-info-2 p{color:#333;line-height:1.8}.invoice-info-2 .type{margin-top:5px}.invoice-info-2 .type li{float:left;width:118px;height:32px;line-height:32px;margin-right:10px;color:#333;text-align:center;border:1px solid #dfdfdf;cursor:pointer;background:#fafafa}.invoice-info-2 .type li input{display:none}.invoice-info-2 .type li:hover{background:#f3f3f3}.invoice-info-2 .type .selected{border-color:#ff4a00;background:#fff}.invoice-info-2 .type .selected:hover{background:#fff}.invoice-info-2 .invoice-title{margin-top:20px}.invoice-info-2 .invoice-title label{display:block;margin-bottom:5px;color:#333}.invoice-info-2 .invoice-title input{width:180px;border:1px solid #dfdfdf;height:38px;line-height:38px;padding:0 10px}.invoice-info-2 .invoice-title input:focus{outline:none;border-color:#ff4a00}.invoice-info-2 .invoice-title .tip-msg{margin-left:10px;color:#f32f39}.checkout-goods-box .xm-box{margin-bottom:0}.checkout-goods-box .xm-box .box-hd{border-bottom:none;margin-bottom:5px}.checkout-goods-list{margin-bottom:30px;overflow:hidden}.checkout-goods-list .col-2,.checkout-goods-list .col-3{text-align:center}.checkout-goods-list .col-2{width:118px}.checkout-goods-list .col-3{width:80px}.checkout-goods-list .col-4{width:102px;padding-right:30px;text-align:right}.checkout-goods-list dt{padding:9px 0;font-size:12px;line-height:1;*line-height:normal;background:#fafafa;color:#8c8c8c}.checkout-goods-list dt .col{float:left}.checkout-goods-list dt .col-1{width:834px;padding-left:20px}.checkout-goods-list dt .col-3{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf}.checkout-goods-list .item{display:table;padding:10px 0;color:#333}.checkout-goods-list .item .item-row{display:table-row}.checkout-goods-list .item .col{display:table-cell;vertical-align:middle;*float:left;*margin-top:10px}.checkout-goods-list .item .col-1{width:834px;padding-left:20px;*margin-top:0}.checkout-goods-list .item .col-1 .g-info,.checkout-goods-list .item .col-1 .g-pic{display:table-cell;vertical-align:middle;*float:left}.checkout-goods-list .item .col-1 .g-pic{width:40px;height:40px;padding-right:10px}.checkout-goods-list .item .col-1 .g-info{*margin-top:10px}.checkout-goods-list .item .col-1 .g-info a{color:#333}.checkout-goods-list .item .col-1 .g-info .label{display:inline-block;_display:inline;height:16px;margin:-2px 0 0 10px;padding:0 6px;line-height:16px;_height:14px;_line-height:1;_padding-top:2px;text-align:center;color:#fff;background:#e9323e;font-size:12px;vertical-align:middle}.checkout-goods-list .item .col-1 .g-info .baoxian-service{margin-left:5px;font-size:12px;color:#ff4a00;text-decoration:underline}.checkout-goods-list .item .col-4{color:#ff4a00}.checkout-count{position:relative;padding:25px 30px 25px 0;min-height:100px;_height:100px;border-top:1px solid #dfdfdf;border-radius:0 0 5px 5px}.xm-add-buy{*width:300px}.xm-add-buy ul{margin-bottom:-10px;zoom:1;white-space:nowrap}.xm-add-buy .item{height:16px;line-height:16px;padding:7px 10px;margin-bottom:10px;position:relative;background:#f3f3f3;color:#333;font-size:12px;cursor:pointer;zoom:1}.xm-add-buy .item:hover{background-color:#dfdfdf}.xm-add-buy .item .icon-checkbox{float:left;margin-right:8px}.xm-add-buy .item .g-detail{display:none;width:334px;height:66px;padding:20px;border:1px solid #dfdfdf;position:absolute;top:0;right:-393px;background:#fff;line-height:22px}.xm-add-buy .item .g-detail img{float:left;width:66px;height:66px;margin-right:20px}.xm-add-buy .item .g-detail .name{font-size:14px;color:#333;font-weight:normal;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.xm-add-buy .item .g-detail .price{font-size:12px}.xm-add-buy .item .g-detail .price strong{color:#ff4a00}.xm-add-buy .item .g-detail .price del{margin-left:8px;color:#8c8c8c}.xm-add-buy .item .g-detail .desc{font-size:12px;color:#8c8c8c;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.xm-add-buy .item .g-detail .arrow{display:block;width:0;height:0;overflow:hidden;position:absolute;top:7px;left:-7px;border-style:dashed solid dashed dashed;border-width:7px 7px 7px 0;border-color:transparent #fff transparent transparent;z-index:2}.xm-add-buy .item .g-detail .arrow-b{display:block;width:0;height:0;overflow:hidden;position:absolute;top:6px;left:-8px;border-style:dashed solid dashed dashed;border-width:8px 8px 8px 0;border-color:transparent #dfdfdf transparent transparent;z-index:1}.xm-add-buy .item .icon-hot{vertical-align:top;margin-left:5px}.xm-add-buy .selected{background:#ff4a00;color:#fff}.xm-add-buy .selected .icon-checkbox{color:#90ce36}.xm-add-buy .selected:hover{background:#ff4a00}.checkout-count-extend{float:left;position:relative}.checkout-count-extend .item input{display:none}.checkout-count-extend .coupon-box{display:none;width:370px;margin-bottom:10px;border:1px solid #dfdfdf;background:#fff}.checkout-count-extend .coupon-box .arrow-border,.checkout-count-extend .coupon-box .arrow-bg{display:none;width:0;height:0;position:absolute;overflow:hidden;border-style:dashed solid solid}.checkout-count-extend .coupon-box .arrow-border{left:40px;top:-8px;border-width:0 8px 8px ;border-color:transparent transparent #dfdfdf}.checkout-count-extend .coupon-box .arrow-bg{left:42px;top:-6px;border-width:0 6px 6px;border-color:transparent transparent #fff}.checkout-count-extend .coupon-box .coupon-code{width:228px;height:34px;line-height:34px;padding:0 10px;border:1px solid #dfdfdf;color:#8c8c8c}.checkout-count-extend .coupon-box .coupon-code:hover,.checkout-count-extend .coupon-box .coupon-code:focus{border-color:#ff4a00;outline:none}.checkout-count-extend .coupon-tab-nav .nav-item{float:left;width:50%;height:45px;line-height:45px;text-align:center;margin-left:-1px;border-left:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;color:#6d6d6d;cursor:pointer}.checkout-count-extend .coupon-tab-nav .current{color:#333;border-bottom:none}.checkout-count-extend .coupon-tab-con .con-item{display:none;text-align:center}.checkout-count-extend .coupon-tab-con .con-item .con-item-bd{padding:20px}.checkout-count-extend .coupon-tab-con .con-item .con-item-ft{padding:10px 0;background:#fafafa}.checkout-count-extend .coupon-tab-con .con-item .coupon-tip{display:none;margin-bottom:6px;font-size:12px;color:#f32f39}.checkout-count-extend .coupon-tab-con .current{display:block}.checkout-count-extend .coupon-tab-con .btn{margin:0 5px}.checkout-count-extend .coupon-tab-con .btn-lineDakeLight{border-color:#dfdfdf}.checkout-count-extend .coupon-list li{margin:8px 0;padding-left:20px;cursor:pointer;color:#333;text-align:left;font-size:12px;position:relative}.checkout-count-extend .coupon-list li span{float:right;display:none}.checkout-count-extend .coupon-list li i{color:#6d6d6d;font-style:normal}.checkout-count-extend .coupon-list .selected{background:none;color:#ff4a00}.checkout-count-extend .coupon-list input{position:absolute;top:2px;left:0}.checkout-count-extend .coupon-result{display:none}.checkout-count-extend .coupon-result i{font-style:normal}.checkout-count-extend .coupon-result a{margin-left:20px;color:#fff;text-decoration:underline}.checkout-price{float:right;text-align:right;color:#333}.checkout-price ul{margin-bottom:20px}.checkout-price li{line-height:2;text-align:right}.checkout-price li span{display:inline-block;min-width:130px;_width:150px;color:#ff4a00}.checkout-price .checkout-total{*line-height:1}.checkout-price .checkout-total span{display:inline-block;min-width:130px;_width:150px;color:#ff4a00}.checkout-price .checkout-total span strong{margin-right:5px;font-size:30px;font-weight:normal;white-space:nowrap}.checkout-confirm{padding:20px 30px;background:#fafafa;text-align:right;color:#333}.checkout-confirm p{font-size:12px}.checkout-confirm .btn-back-cart{border-color:#dfdfdf}.checkout-confirm .btn-primary{margin-left:5px}.modal-choose-pro{width:930px;height:480px;margin-top:-240px;margin-left:-435px}.modal-choose-pro .more{position:absolute;top:6px;right:0}.modal-choose-pro .modal-body{text-align:center}.modal-choose-pro .modal-choose-pro-list-wrap{overflow:hidden}.modal-choose-pro .modal-choose-pro-list-wrap li{float:left;width:290px;height:280px;border-left:1px solid #dfdfdf;margin-left:-1px;text-align:center;color:#999;cursor:pointer;color:#333;position:relative}.modal-choose-pro .modal-choose-pro-list-wrap li input{display:none}.modal-choose-pro .modal-choose-pro-list-wrap li img{display:block;margin:0 auto 20px}.modal-choose-pro .modal-choose-pro-list-wrap li .icon-checkbox{position:absolute;top:0;left:30px}.modal-choose-pro .modal-choose-pro-list-wrap .selected .icon-checkbox{color:#90ce36}.modal-choose-pro-2{width:640px;margin-left:-320px}.modal-choose-pro-4{width:1210px;margin-left:-605px}.lipin-modal{width:400px;margin-left:-200px}.lipin-modal .modal-header{padding:30px 0 0;line-height:1;text-align:center;border:none}.lipin-modal .modal-header .title{margin-bottom:15px;font-size:24px;color:#ed5567}.lipin-modal .modal-header p{line-height:1.5;font-size:14px}.lipin-modal .modal-body ul{display:block;padding:20px;border:1px solid #ededed;border-radius:5px;background:#f5f7fa}.lipin-modal .modal-body ul li{padding-left:70px;margin:5px 0;line-height:1.5;position:relative}.lipin-modal .modal-body ul li strong{position:absolute;top:0;left:0;_top:-2px;_left:-70px}.lipin-modal .modal-footer{padding:5px 0 20px;border:none;background:none;text-align:center}.lipin-modal .modal-footer .btn{margin:0 10px}.checkout-title-tip{float:left;font-size:12px;margin:20px 0 0 20px;padding-left:10px;border-left:1px solid #ededed;line-height:1;color:#f3f3f3}.checkout-title-tip a{color:#f3f3f3}.yushou-modal{width:670px;height:570px;margin-left:-350px;margin-top:-300px;_margin-top:0}.yushou-modal h2{margin:14px 0 35px 0;text-align:center;font-size:34px;line-height:1.5;color:#333}.yushou-modal .list{width:400px;margin:0 auto 40px;overflow:hidden}.yushou-modal .list li{display:block;margin:0 0 -1px;padding:15px 0 10px 74px;border-bottom:1px solid #ededed;position:relative}.yushou-modal .list li strong{display:block;font-size:18px;margin-bottom:5px}.yushou-modal .list li .icon-common{width:74px;height:50px;position:absolute;top:12px;left:0;background:url(http://img03.mifile.cn/webfile/images/2013/cn/icon/yushou/icon-yushou-checkout.png) no-repeat}.yushou-modal .list li .icon-1{background-position:0 0}.yushou-modal .list li .icon-2{background-position:0 -50px}.yushou-modal .list li .icon-3{background-position:0 -100px}.yushou-modal .modal-footer{text-align:center}.yushou-modal .modal-footer .yushou-ok{display:block;margin-bottom:10px;text-align:center;color:#d6313a;cursor:pointer}.yushou-modal .modal-footer .selected .icon-checkbox{color:#90ce36}.yushou-modal .modal-footer .btn{margin:0 5px }.modal-baoxian{width:875px;height:570px;margin-left:-438px;margin-top:-285px}.modal-baoxian .modal-header h3{text-indent:30px}.modal-baoxian .modal-body{height:369px;padding-left:60px}.modal-baoxian .modal-body .con-1 h4{margin:0 0 20px;font-size:16px;color:#333}.modal-baoxian .modal-body .con-1 .icon-list{margin-bottom:35px}.modal-baoxian .modal-body .con-1 .icon-list .icon{display:block;width:80px;height:80px;margin:0 auto 10px;background:url(http://img03.mifile.cn/webfile/images/2014/cn/icon/icon-baoxian-service.png) no-repeat}.modal-baoxian .modal-body .con-1 .icon-list .icon-1{background-position:0 0}.modal-baoxian .modal-body .con-1 .icon-list .icon-2{background-position:0 -80px}.modal-baoxian .modal-body .con-1 .icon-list .icon-3{background-position:0 -160px}.modal-baoxian .modal-body .con-1 .icon-list li{float:left;width:150px;text-align:center;color:#666}.modal-baoxian .modal-body .con-1 .xuzhi dt{margin-bottom:6px;font-size:16px;color:#333}.modal-baoxian .modal-body .con-1 .xuzhi dd{color:#666;line-height:2}.modal-baoxian .modal-body .con-1 .xuzhi dd a{margin-left:10px;color:#ff4a00;cursor:pointer}.modal-baoxian .modal-body .con-2 .baoxian-service{height:340px;padding-right:20px;margin-bottom:12px;overflow-y:scroll;overflow-x:hidden;color:#8c8c8c;line-height:2}.modal-baoxian .modal-body .con-2 .baoxian-service .block{margin-bottom:20px}.modal-baoxian .modal-body .con-2 .baoxian-service .block .t span{margin-right:20px}.modal-baoxian .modal-body .con-2 .back{color:#ff4a00;cursor:pointer}.modal-baoxian .modal-footer{text-align:right}.modal-baoxian .modal-footer .btn{margin-right:10px}.modal-baoxian .modal-footer .btn-lineDakeLight{border-color:#dfdfdf}.modal-baoxian .modal-footer p{float:left;line-height:40px;margin-left:40px;color:#333}.modal-baoxian .modal-footer p span,.modal-baoxian .modal-footer p a{cursor:pointer}.modal-baoxian .modal-footer p a{color:#333;text-decoration:underline}@media (max-width:1260px){.checkout-goods-list dt .col-1{width:570px}.checkout-goods-list .item .col-1{width:570px}.modal-choose-pro-4{width:930px;margin-left:-465px}.modal-choose-pro-4 .modal-choose-pro-list-wrap li{width:218px}.modal-choose-pro-4 .modal-choose-pro-list-wrap li img{width:200px;height:200px}}.payment-con{margin-top:20px}.payment-con .xm-plain-box .box-hd .title{float:left}.payment-con .xm-plain-box .box-hd .tip-tag{float:left;height:18px;line-height:18px;padding:0 7px;margin:17px 20px 0 20px;color:#ff4a00;font-size:12px}.payment-con .xm-plain-box .box-bd{border-bottom:none}.payment-con .xm-plain-box .box-ft{background:#fafafa;padding:20px 30px;margin-top:20px;border-top:none}.payment-con .xm-plain-box .box-ft .btn,.payment-con .xm-plain-box .box-ft .tip{float:right;margin-left:10px}.payment-con .xm-plain-box .box-ft .btn-lineDakeLight{border-color:#dfdfdf}.payment-con .xm-plain-box .box-ft .tip{line-height:40px}.order-info{border:1px solid #dfdfdf;padding:25px 30px 25px 260px;margin-bottom:15px;position:relative;zoom:1}.order-info .msg{_height:58px;margin-bottom:20px}.order-info h3{font-size:24px;color:#000;font-weight:normal}.order-info p{line-height:1.6;color:#6d6d6d}.order-info p .line{margin:0 3px}.order-info p .pay-time-tip{margin:0 2px;color:#ff4a00}.order-info .post-date{color:#333;font-size:18px}.order-info .icon-box{width:240px;height:100%;_height:194px;position:absolute;top:0;left:0;background:#fafafa;zoom:1}.order-info .icon-box .iconfont{display:block;width:90px;height:90px;line-height:1;position:absolute;top:50%;left:50%;margin-left:-50px;margin-top:-50px;text-align:center;font-size:90px;border:5px solid #83bd39;color:#83bd39;border-radius:50%}.payment-box{border:1px solid #dfdfdf;margin-top:6px;width:758px;position:relative}.payment-box dt{width:200px;padding:25px 20px 20px;position:absolute;top:0;left:0;color:#333;font-size:12px;background-color:#F9EAEA;z-index:10}.payment-box dt strong{font-size:14px}.payment-box dt a:hover{text-decoration:underline}.payment-box dt p{color:#8c8c8c}.payment-box dd{width:100%;position:relative;background:#fafafa;z-index:5}.payment-box dd .select-other{position:absolute;top:50%;left:450px;margin-top:-15px}.payment-box dd .hd-tip{position:absolute;top:35px;left:400px}.payment-box dd .hd-tip .tip-tag{display:inline-block;height:18px;line-height:18px;color:#fff;padding:0 8px;margin:0 5px;background-color:#ff4a00;font-size:12px}.payment-list{margin-left:250px;}.payment-list li{float:left;width:167px;padding:10px 0}.payment-list li label{cursor:pointer}.payment-list li input{vertical-align:middle}.payment-list li img{margin-left:5px}.pay-tip{background:url("http://p.www.xiaomi.com/zt/2013//payment-mitu.jpg") no-repeat 70px 20px}.pay-tip a{color:#ee330a}.pay-tip .fail,.pay-tip .success{float:right;width:230px;padding:15px}.pay-tip .fail h4,.pay-tip .success h4{margin:0;color:#6d6d6d}.pay-tip .fail p,.pay-tip .success p{padding-top:10px;font-size:12px}.pay-tip .fail p a:hover,.pay-tip .success p a:hover{text-decoration:underline}.pay-tip .success{clear:right}.payment-balance{height:44px}.payment-balance .item2{float:right;margin-top:12px}.payment-balance .num{color:#ff4a00}.payment-balance .item1{margin-top:12px;cursor:pointer}.payment-balance .item1 .iconfont{display:inline-block;width:14px;height:14px;line-height:1;border:1px solid #dfdfdf;font-size:14px;color:#fff;vertical-align:0px}.payment-balance .selected .iconfont{color:#90ce36}.balance-pay h3{margin-bottom:10px;font-size:18px;color:#333}.balance-pay h3 .num{color:#ff4a00}.balance-pay .input{width:180px;height:38px;line-height:38px;padding:0 10px;margin-right:10px;border:1px solid #dfdfdf}.balance-pay .send-again{cursor:pointer}.balance-pay .btn{margin:20px 0}.fenqi-detail{margin-left:240px;padding:20px;background:#fff;margin-top:-20px}.fenqi-detail li{float:left;width:167px;padding:10px 0}.fenqi-detail li label{cursor:pointer}.fenqi-detail li input{vertical-align:middle}.fenqi-detail li img{margin-left:5px}.fenqi-detail .options .item{float:left;padding:10px 20px;margin-right:20px;color:#6d6d6d;background:#fafafa;border:1px solid #dfdfdf;cursor:pointer}.fenqi-detail .options .item span{display:block;font-size:18px;color:#333}.fenqi-detail .options .item input{display:none}.fenqi-detail .options .selected{border-color:#ff4a00;background:#fff}.fenqi-detail .info{padding-top:20px;line-height:2;color:#333}.fenqi-detail .info span{color:#ff4a00}.fenqi-detail .info .tip{line-height:1.5;padding-top:20px;font-size:12px;color:#8c8c8c}.pay-hd{margin-left:240px;padding:20px 20px 0;background:#fff}.pay-hd .info{color:#666}.pay-hd .info span{color:#ff4a00}.pay-hd .info a{font-size:12px;margin-left:10px;text-decoration:underline}.pay-hd .payment-list{margin:0;padding:10px 0 20px;border-bottom:1px solid  #dfdfdf}.pay-hd .payment-list li{width:30%}.pay-hd .payment-list li .icon{display:inline-block;height:22px;line-height:22px;padding:0 10px;color:#fff;background-color:#90ce36;font-size:12px;position:relative}.pay-hd .payment-list li .icon i{display:block;width:0;height:0;border-width:5px 5px 5px 0;border-style:dashed solid  dashed dashed;border-color:transparent #90ce36 transparent transparent;position:absolute;top:6px;left:-5px;overflow:hidden}
.logo {
	width:980px;
	height:62px;
	padding-top:15px;
	margin:0 auto;
}
.logo .float span.tel {
	float:right;
	display:block;
	padding-right:20px;
	padding-top:46px;
}
.logo .float span.logo_pic {
	width:105px;
	height:62px;
	background:url(../images/logo.png) no-repeat;
	float:left;
	display:block;
}
.logo .float span.logo_pic .a {
	width:105px;
	height:61px;
	display:inline-block;
}
.logo .float a.a {
	float:left;
}
.logo .float span.text {
	width:284px;
	float:left;
	font-weight:bold;
	display:block;
	margin:41px 0 0 40px;
}
.logo .float span.help {
	width:284px;
	text-align:right;
	float:right;
	display:block;
	margin:41px 0 0 40px;
}
.logo .float span.help a {
	padding:0 10px;
	color:#666;
}
.logo .float span.help a.help_center {
	border-left:1px solid #ccc;
	padding:0 0 0 10px;
}
.shop_payment .answer {
	width:980px;
	float:left;
	margin:40px auto 0 auto;
	border-top:1px solid #e5e5e5;
	clear:both;
}
.shop_payment .answer h6 {
	width:970px;
	padding:10px 0 10px 10px;
	font-weight:bold;
	font-size:14px;
}
.shop_payment .answer h6 span {
	width:16px;
	height:16px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) -175px -300px;
}
.shop_payment .answer ul.answer_list {
	width:955px;
	padding:0 0 0 25px;
}
.shop_payment .answer ul.answer_list li {
	width:955px;
	padding:0 0 5px 0;
}
.shop_payment .answer ul.answer_list li.problem {
	font-weight:bold;
}
.shop_payment .answer ul.answer_list li.more {
	padding:10px 0;
}
.shop_payment .answer ul.answer_list li.more,li.more a {
	color:#0386d9;
}
.shop_payment {
	width:980px;
	height:auto;
	color:#666;
	position:relative;
	margin:0 auto;
}
.shop_payment ul.payment {
	width:980px;
	height:31px;
	background:#d8e8f9;
	margin:20px 0;
}
.shop_payment ul.payment li {
	text-align:center;
	float:left;
	line-height:31px;
	font-size:12px;
}
.shop_payment ul.payment li.first_step {
	width:165px;
}
.shop_payment ul.payment li.secend_step {
	width:165px;
}
.shop_payment ul.payment li.fourth_step {
	width:165px;
}
.shop_payment ul.payment li.fifth_step {
	width:165px;
}
.shop_payment ul.payment li.third_step {
	width:202px;
}
.shop_payment ul.payment li.orange_Tech {
	color:#fff;
	background:#ff7c21;
	font-weight:bold;
}
.shop_payment ul.payment li.arrow_1,.shop_payment ul.payment li.arrow_2,.shop_payment ul.payment li.arrow_3 {
	width:27px;
	height:31px;
}
.shop_payment ul.payment li.arrow_1 {
	background:url(../images/shop_process.png) no-repeat -205px -35px;
}
.shop_payment ul.payment li.arrow_2 {
	background:url(../images/shop_process.png) -240px -0px;
}
.shop_payment ul.payment li.arrow_3 {
	background:url(../images/shop_process.png) -240px -35px;
}
.payment_Con {
	width:978px;
	min-height:40px;
	border:1px solid #dfdfdf;
	clear:both;
}
.order_list {
	width:900px;
	position:relative;
	clear:both;
}
.payment_Con li.top {
	width:978px;
	height:35px;
	overflow:hidden;
	line-height:35px;
	color:#555;
	background:url(../images/payment_bg.png) 0 0 repeat-x;
	border-bottom:1px solid #dfdfdf;
}
.order_list li.top .moneys,.order_list li.top .money,.order_list li.top .num {
	width:155px;
	line-height:35px!important;
	display:block;
	float:left;
	text-align:center;
}
.payment_Con li.top span.name {
	width:358px;
	height:30px;
	display:block;
	float:left;
	text-align:left;
	text-indent:35px;
}
.payment_Con li.end {
	height:40px;
	border-bottom:1px solid #dfdfdf;
}
.payment_Con li.end span.name {
	width:318px;
	height:40px;
	line-height:40px;
	display:block;
	float:left;
	overflow:hidden;
	font-size:14px;
	margin:0 auto;
	padding:0 20px;
	text-align:left;
	text-indent:15px;
}
.order_list li .moneys,.order_list li .money,.order_list li .num {
	width:155px;
	line-height:40px;
	display:block;
	float:left;
	text-align:center;
}
.order_list li .all {
	line-height:40px;
	width:148px;
	text-align:center;
	float:right;
}
.order_list li .subtotal {
	line-height:40px;
	width:100px;
	padding-right:35px;
	text-align:right;
	float:right;
}
.order_list li.payment_Total {
	width:978px;
	clear:both;
	vertical-align:bottom;
}
.order_list li.point_out,.order_list li.point_in {
	width:760px;
	clear:both;
	vertical-align:bottom;
}
.payment_Total {
	height:48px;
	overflow:hidden;
}
.payment_Total .payment_List_Lc {
	padding-top:11px;
}
.payment_List_Lc {
	float:left;
	margin-left:0;
}
.payment_List_Lc .input_choice,.payment_List_Lc .pay_input_text {
	vertical-align:-2px;
	*+vertical-align:-3px;
	vertical-align:-2px\0;
	_vertical-align:-3px;
	margin-right:3px;
	*+margin-right:0;
	margin-left:0;
	*+margin-left:-4px;
}
.payment_List_Lc .pay_input_text_gray {
	width:60px;
	height:18px;
	border:1px solid #CAC8BB;
	background:#ECE9D8;
}
.payment_List_Lc .pay_input_text {
	border:1px solid #BBB;
	width:60px;
	height:18px;
	line-height:18px;
	font-weight:bold;
	color:#666;
}
.payment_List_Lc .pay_input_text {
	vertical-align:middle;
}
.payment_List_Lc .gray01 {
	text-decoration:underline;
}
.payment_List_Rc {
	float: right;
	padding-right: 145px;
	line-height: 40px;
	padding-top: 6px;
}
.payment_List_Rc span {
	line-height:40px;
	vertical-align:middle;
}
.payment_List_Rc .F20 {
	font-size:20px;
	font-family:Arial;
}
.payment_List_Lc .F18 {
	font-size:18px;
	font-family:Arial;
}
.point_out,.point_in {
	height:55px;
	overflow:hidden;
}
.point_out .payment_List_Lc {
	padding-top:16px;
	float:left;
	padding-left: 10px;
}
.point_in .payment_List_Lc {
	padding-top:11px;
	float:left;
	padding-left: 10px;
}
.form_ReturnBut {
	display:inline-block;
	border-radius:2px;
	text-align:center;
	padding:0 10px;
	*overflow:visible;
	cursor:pointer;
}
a.form_ReturnBut {
	height:25px;
	line-height:25px;
	line-height:28px\9;
	_line-height:24px;
}
.form_ReturnBut {
	background:#F8F8F8;
	border:1px solid #D6D6D6;
	color:#797777;
	font-size:12px;
	padding:0 15px;
	margin-right:5px;
}
.form_ReturnBut:hover {
	background:#F8F8F8;
	color:#797777;
}
.pay_Value {
	padding:2px 8px;
	float:left;
	margin-top:15px;
	margin-top:15px\9;
	_margin-top:15px;
	border:1px solid #FFD99E;
	background:#FFFDF6;
	color:#FF6F06;
	margin-left:10px;
	display:inline-block;
	position:relative;
}
.pay_Value span {
	position:absolute;
	left:-6px;
	color:#FFD99E;
	top:2px;
}
.pay_Value em {
	position:absolute;
	left:-5px;
	color:#FFFDF6;
	top:2px;
}
.payment_but {
	text-align:right;
	clear:both;
}
.pay_but_txt {
	color:#bbb;
	padding:11px 0 5px 0;
}
.pay_but_txt b {
	color:#999;
	font-family:Arial;
	padding:0 2px;
}
.payment_but .shop_pay_but {
	width:201px;
	height:43px;
	border:none;
	cursor:pointer;
	background:url(../images/payment_bg.png) 0 -44px no-repeat;
}
.point_bank {
	height:50px;
}
.point_gray {
	background:#F4F4F4;
	color:#BCBCBC;
}
.point_gray .input_gray {
	border:1px solid #CAC8BB;
	width:11px;
	height:11px;
	font-size:0;
	line-height:0;
	display:block;
	float:left;
	margin-top:3px;
	*+margin-top:6px;
	margin-top:2px\0;
	_margin-top:7px;
	margin-right:3px;
	_margin-right:0;
}
.point_in .input_gray {
	margin-top:9px;
	*+margin-top:9px;
	_margin-top:9px;
}
.point_gray .orange {
	color:#BCBCBC;
}
.point_gray .green {
	color:#BCBCBC;
}
.pay_bankC:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.pay_bankC {
	zoom: 1;
	position: relative;
	width: 900px;
	float: left;
}
.pay_bankC .bank_arrow span,.pay_bankC .bank_arrow em {
	font-size: 50px;
	font-weight: bold;
	color: #ff4a00;
	top: -42px;
	*+top:-13px;
	top:-13px\0;
	left:-3px;
	position:absolute;
}
.pay_bankC .bank_arrow em {
	top:-11px;
	*+top:-10px;
	top:-10px\0;
	color:#FFF;
}
.pay_bankC h2 {
	width:936px;
	margin-top:10px;
	float:left;
	color:#999;
	padding-left:20px;
}
.pay_bankC div span {
	color:Red;
	font-weight:bold;
	font-size:14px;
}
.pay_bankC ul {
	clear:both;
	float:left;
	width:520px;
	padding:7px 0 6px 0px;
}
.pay_bankC li {
	float:left;
	margin-right:15px;
	padding:10px 0;
	_margin:0 10px 0 11px;
}
.pay_bankC li input {
	float:left;
	margin:12px 5px 0 0;
	*margin:10px 1px 0 0;
	display:block;
}
.pay_bankC li span {
	display:block;
	width:134px;
	height:36px;
	float:left;
	border:#ddd 1px solid;
	cursor:pointer;
}
.pay_bankC li span.zfb {
	background:url(../images/bank_logo.png?v=12) 8px -613px;
}
.pay_bankC li span.cft {
	background:url(../images/bank_logo.png?v=12) 8px -500px;
}
.pay_bankC li span.yl {
	background:url(../images/bank_logo.png?v=12) 8px -550px;
}
.pay_bankC li span.kq {
	background:url(../images/bank_logo.png?v=12) 12px -575px;
}
.pay_bankC li span.wy {
	background:url(../images/bank_logo.png?v=12) 8px -539px;
}
.pay_bankC li span.online {
	background:url(/MyCart/images/bank_logo.png?v=22) 8px -650px;
}
.pay_bankC h3 {
	width:900px;
	padding-top:20px;
	position:relative;
	clear:both;
}
.bank_logo li span.gh_bank,.bank_logo li span.zh_bank,.bank_logo li span.jh_bank,.bank_logo li span.nh_bank,.bank_logo li span.pf_bank,.bank_logo li span.sf_bank,.bank_logo li span.xy_bank,.bank_logo li span.bj_bank,.bank_logo li span.gd_bank,.bank_logo li span.ms_bank,.bank_logo li span.zx_bank,.bank_logo li span.gf_bank,.bank_logo li span.pa_bank,.bank_logo li span.zg_bank,.bank_logo li span.jt_bank {
	background:url(../images/bank_logo.png?v=12);
}
.bank_logo li span.gh_bank {
	background-position:8px 0;
}
.bank_logo li span.zh_bank {
	background-position:8px -32px;
}
.bank_logo li span.jh_bank {
	background-position:8px -67px;
}
.bank_logo li span.nh_bank {
	background-position:8px -99px;
}
.bank_logo li span.pf_bank {
	background-position:8px -132px;
}
.bank_logo li span.sf_bank {
	background-position:8px -165px;
}
.bank_logo li span.xy_bank {
	background-position:8px -199px;
}
.bank_logo li span.bj_bank {
	background-position:8px -232px;
}
.bank_logo li span.gd_bank {
	background-position:8px -264px;
}
.bank_logo li span.ms_bank {
	background-position:8px -297px;
}
.bank_logo li span.zx_bank {
	background-position:8px -329px;
}
.bank_logo li span.gf_bank {
	background-position:8px -362px;
}
.bank_logo li span.pa_bank {
	background-position:8px -397px;
}
.bank_logo li span.zg_bank {
	background-position:8px -429px;
}
.bank_logo li span.jt_bank {
	background-position:8px -462px;
}
.wait_list:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.wait_list {
	border:1px solid #E6E7E8;
	zoom:1;
}
.wait_list_tips:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.wait_list_tips {
	zoom:1;
	padding:26px 0 10px 0;
}
.wait_list_tips dl {
	margin-left:260px;
}
.wait_list_tips dt,.wait_list_tips dd {
	float:left;
}
.wait_list_tips dd {
	padding:20px 0 0 23px;
}
.wait_list_tips dd h2 {
	font-size:14px;
	height:34px;
	padding-top:10px;
	font-family:Arial,"宋体";
}
.wait_list_tips dd p {
	font-size:14px;
	height:35px;
	color:#666;
}
.wait_listCon {
	width:750px;
	border:1px solid #D9D9D9;
	border-bottom:none;
	margin-bottom:48px;
}
.wait_listCon li {
	vertical-align:bottom;
}
.wait_listCon li.wait_Ltit {
	background:#F9F9F9;
	color:#A9A9A9;
	height:31px;
	border-bottom:1px solid #D9D9D9;
	line-height:31px;
}
.wait_listCon li.wait_Lodity:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.wait_listCon li.wait_Lodity {
	border-bottom:1px solid #D9D9D9;
	padding:11px 0 8px 0;
	zoom:1;
	color:#666;
}
.wait_listCon li.wait_Lodity b {
	font-weight:normal;
	width:74px;
	display:inline-block;
	color:#666;
}
.wait_listCon li span {
	display:inline-block;
	float:left;
}
.wait_listCon li .wait_Cw01 {
	width:160px;
	text-align:center;
}
.wait_listCon li .wait_Cw02 {
	width:260px;
	padding-left:10px;
}
.wait_listCon li .wait_Cw03 {
	width:80px;
	text-align:center;
}
.wait_listCon li .wait_Cw04 {
	width:225px;
	padding-left:10px;
}
.wait_list .waitLoad {
	width:220px;
	text-align:center;
	margin:60px auto;
	line-height:30px;
}
.wait_list .waitLoad img {
	display:block;
	text-align:center;
}
.wait_listCon ul.buyFail li {
	border-bottom:1px solid #D9D9D9;
	background:#fbfbfb;
	height:35px;
	line-height:35px;
}
.wait_listCon ul.buyFail li.co6 {
	color:#666;
	text-align:center;
	background:#f5f5f5;
}
.wait_listCon ul.buyFail li a {
	color:#999;
	margin-left:15px;
}
.wait_listCon ul.buyFail li a:hover {
	color:#f60;
}
.fast .fast_list li.look_buy {
	width:111px;
	height:33px;
}
.fast .fast_list li.look_buy a {
	width:126px;
	height:30px;
	line-height:28px;
	text-indent:30px;
	color:#fff;
	font-weight:bold;
	display:block;
	background:url(../images/payment_bg.png) 0 -92px no-repeat;
}
.fast {
	width:976px;
	height:200px;
	border:1px solid #ebebeb;
	padding:1px 1px 0 1px;
	clear:both;
	margin:10px auto 10px auto;
}
.fast h3 {
	width:966px;
	height:30px;
	background:#f4f4f4;
	padding-left:10px;
}
.fast h3 span {
	width:300px;
	height:17px;
	display:block;
	margin-top:5px;
	float:left;
	color:#fe8500;
	font-size:14px;
	font-weight:bold;
}
.fast .fast_list {
	width:307px;
	height:152px;
	padding:10px 8px;
	float:left;
}
.fast .fast_list h4 {
	width:142px;
	height:152px;
	float:left;
}
.fast .fast_list h4 a {
	width:140px;
	height:150px;
	display:block;
	border:1px solid #ebebeb;
}
.fast .fast_list h4 a:hover {
	border:1px solid #fb8c00;
}
.fast .fast_list h4 a img {
	width:140px;
	height:150px;
	display:block;
}
.fast .fast_list ul {
	width:140px;
	height:140px;
	padding:6px 5px;
	float:left;
	overflow:hidden;
}
.fast .fast_list ul li {
	width:140px;
	height:20px;
	line-height:20px;
	float:left;
	margin-bottom:5px;
}
.fast .fast_list li.title {
	width:140px;
	height:30px;
	line-height:15px;
	overflow:hidden;
	font-size:12px;
}
.fast .fast_list li.title a,.fast .fast_list li.title a:hover {
	color:#0082f0;
}
.payment_ts {
	margin:5px 0 0 22px;
	padding:0;
}
.payment_ts h3 {
	font-size:14px;
	color:#f60;
	font-weight:bold;
}
.payment_ts h3 s {
	width:17px;
	height:17px;
	vertical-align:-4px;
	margin-right:4px;
	display:inline-block;
	background:url(../images/payment_bg.png) -185px -92px no-repeat;
}
.payment_ts ul {
	padding:0 0 0 23px;
}
.payment_ts .payment_ts_con {
	width:300px;
	line-height:20px;
	color:#666;
}
.payment_ts_links {
	padding:0;
	color:#999;
}
.payment_ts_but {
	margin-top:15px;
}
.pay_tipsbut {
	display:inline-block;
	border-radius:2px;
	text-align:center;
	padding:0 10px;
	*overflow:visible;
	cursor:pointer;
}
a.pay_tipsbut {
	height:25px;
	line-height:25px;
	line-height:28px\9;
	_line-height:24px;
}
.pay_tipsbut {
	background:#f60;
	color:#fff;
	font-size:12px;
	padding:0 15px;
	margin-right:5px;
}
.pay_tipsbut:hover {
	background:#F60;
	color:#fff;
}
