@charset "utf-8";
.tContent{background:#f7f7f7;padding-bottom:30px;width:100%;display:inline-block;margin-bottom:-10px;}
.tMain{width:980px;margin:0 auto;background:#fff;}.tHead{width:980px;display:inline-block;background:#f7f7f7;padding-top:15px;padding-bottom:13px;}
.tHead li.tLogo{float:left;height:63px;margin-right:10px;margin-left:10px;}
.tLogo a{float:left;display:block;}
.tHead li img.line{float:left;margin:30px 9px 0;}
.tHead li.tLogo a.txt{color:#bbb;font-size:24px;font-family:"微软雅黑";margin-top:30px;}
.tHead li.tNav{float:right;margin-top:40px;margin-right:10px;display:inline;}
.tNav a{display:block;float:left;color:#666;font-size:14px;height:25px;line-height:25px;margin:0 5px;width:100px;text-align:center;}
.tNav a.tReturn{margin-right:22px;display:inline;}
.tNav a.current{display:inline-block;background:url(../images/btnBg.gif) no-repeat;width:100px;text-align:center;height:25px;font-weight:bold;}
.tNav a.current:hover{color:#666;}
.tNav a:hover{color:#333;}



.mPic{width:980px;margin:0 auto;}
.mPic li.pic1{background:url(../../../uploads/weixin/pic_20.jpg) center no-repeat;height:112px;}
.mPic li.pic2{background:url(../../../uploads/weixin/pic_21.jpg) center no-repeat;height:118px;}
.mPic li.pic3{background:url(../../../uploads/weixin/pic_22.jpg) center no-repeat;height:100px;color:#aab391;padding-left:150px;}
.mPic li.pic3 a{color:#aab391;text-decoration:underline;}
.mPic li.pic3 a:hover{color:#f60;}

.mMode{width:941px;margin:0 auto;padding-bottom:35px;position:relative;top:30px;}
.mMode li{width:941px;border-bottom:#eee 1px solid;display:inline-block;padding:50px 0 0;}
.mMode li dd{float:left;margin-left:60px;display:inline-block;display:inline;}
.mMode li dd img{display:block;margin:0;padding:0;}
.mMode li dd.mt60{margin-top:60px;}

.tTitle{border-bottom:#eee 1px solid;padding-bottom:10px;font-size:24px;color:#333;font-family:"微软雅黑";}

.anBanner{background:#54b1ff;height:415px;}
.anMain{width:980px;margin:0 auto;}
.anMain img{float:left;}
.anDown{clear:both;background:url(../../../uploads/app/app_02.jpg) center no-repeat;height:180px;padding-left:443px;}
.anDown a{display:block;background:url(../../../uploads/app/download3.gif) no-repeat;width:270px;height:89px;}
.anDown p{color:#fff;margin-top:8px;padding-left:3px;}
.anDown a:hover{display:block;background:url(../../../uploads/app/download4.gif) no-repeat;}