{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Detail.css"/>
<!--晒单详情-->
<div class="Current_nav">
	<a href="{WEB_PATH}">首页</a> &gt; <a href="#">晒单分享</a> &gt; 晒单详请</div>
<div class="share_box" id="loadingPicBlock">
	<div id="DCMainLeft" class="share_box_left">
		<div class="share_main">
			<!--用户晒单部分-->
			<div class="share_title">
				<h3>{wc:$shaidan['sd_title']}</h3>
				<div class="share_time">
					晒单时间：<span>{wc:fun:date("Y-m-d H:i",$shaidan['sd_time'])}</span></div>
			</div>
			<div class="share_goods">
				<div class="share-get">
					<a class="fl-img" href="{WEB_PATH}/uname/{wc:fun:idjia($shaidan['sd_userid'])}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($shaidan['sd_userid'],'img','8080')}"></a>
					<div class="share-getinfo">
						<p class="getinfo-name">幸运获得者：<a class="blue Fb" href="{WEB_PATH}/uname/{wc:fun:idjia($shaidan['sd_userid'])}" target="_blank">{wc:fun:userid($shaidan['sd_userid'],'username')}</a></p>
						<p>总共{wc:fun:_cfg('web_name_two')}：<b class="orange">{wc:fun:get_user_goods_num($shaidan['sd_userid'],$shaidan['sd_shopid'])}</b>人次</p>
						{wc:php:start}
						$jikxiao = get_shop_if_jiexiao($shaidan['sd_shopid']);						
						{wc:php:end}
						{wc:if $jikxiao['q_uid']}
						<p>幸运{wc:fun:_cfg('web_name_two')}码：{wc:$jikxiao['q_user_code']}	</p>
						<p>揭晓时间：{wc:fun:microt($jikxiao['q_end_time'])}</p>
						{wc:else}
							{wc:php:start}
								$jikxiao = $goods;
							{wc:php:end}
						{wc:if:end}
					</div>
				</div>
				<div class="share-Conduct">
					<div class="arrow arrow_Rleft"><em>◆</em><span>◆</span></div>
					<a class="fl-img" href="{WEB_PATH}/dataserver/{wc:$shaidan['sd_shopid']}" target="_blank">
					<img src="{G_UPLOAD_PATH}/{wc:$goods['thumb']}" border="0"></a>
					<div class="share-getinfo">
						<p class="getinfo-title"><a class="gray01" href="{WEB_PATH}/dataserver/{wc:$jikxiao['id']}" target="_blank">(第{wc:$jikxiao['qishu']}期){wc:$jikxiao['title']}</a></p>
						<p>价值：￥{wc:$jikxiao['money']}</p>
						<p id="GoToBuy"><a class="getbut-a" href="{WEB_PATH}/goods/{wc:$goods['id']}" target="_blank">
						{wc:if !empty($goods['q_uid'])}
						已揭晓
						{wc:else}
						第{wc:$goods['qishu']}期正在进行中...
						{wc:if:end}
						</span></a></p>
					</div>
				</div> 
			</div>
			<div class="share_content">
				<p class="content-pad">{wc:$shaidan['sd_content']}</p>
				{wc:loop $sd_photolist $sdimg}
				<p><img src="{G_UPLOAD_PATH}/{wc:$sdimg}" border="0"></p>
				{wc:loop:end}
			</div>
			<!--用户晒单部分结束-->
			<!-- 分享按钮 -->
			<div class="mood">
				<div class="moodwm">
					<div class="moodm hidden" style="display: block;">
						 <span class="smile" id="emHits"><i></i><b>羡慕嫉妒恨(<em>{wc:$shaidan['sd_zhan']}</em>)</b></span>
						 <span class="much"> <i></i>评论(<em id="emReplyCount">{wc:$shaidan['sd_ping']}</em>)</span>
					</div>
					<div class="share">
						<span class="fen">分享到：</span>
						<!-- Baidu Button BEGIN -->
						<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
						<a class="bds_qzone"></a>
						<a class="bds_tsina"></a>
						<a class="bds_tqq"></a>
						<a class="bds_renren"></a>
						<a class="bds_t163"></a>
						<span class="bds_more"></span>
						</div>
						<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=671207" ></script>
						<script type="text/javascript" id="bdshell_js"></script>
						<script type="text/javascript">
						document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
						</script>
						<!-- Baidu Button END -->
					</div>
				</div>
			</div>
		</div>
		<div id="bottomComment" class="qcomment_bottom_reply clearfix">
			<div class="Comment_Reply clearfix">
				<div class="Comment-pic">
				{wc:if !$member or $member['img']==null}
				<img src="{G_TEMPLATES_STYLE}/images/prmimg.jpg" width="50" height="50" />
				{wc:else}
				<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:userid($member['uid'],'img')}" width="50" height="50" border="0"/>
				{wc:if:end}	
				</div>
				<div class="Comment_form">
					<div class="Comment_textbox">
					{wc:if !$member}					
						<div id="notLogin" name="replyLogin" class="Comment_login">
							请您<a href="{WEB_PATH}/member/user/login" class="blue" name="replyLoginBtn">登录</a>
							或<a href="{WEB_PATH}/member/user/register" class="blue">注册</a>后再回复评论
						</div>
					{wc:else}
						<form action="" method="post">
						<textarea name="sdhf_content" class="Comment-txt"></textarea>			
						<div  style="line-height:25px;margin-top:5px;display: inline-block;padding:0px;">
							<span style=" float:right"><img onclick="this.src = this.src + '/0'" src="{WEB_PATH}/api/checkcode/image/60_25_0_0_4/"/></span>
							<span style="color:#aaa;float:left">验证码: </span><input type="text" name="sdhf_code" style="width:80px;height:20px;" />							
						</div>						
						<input type="submit" name="submit" value="发表评论" class="reply_unbotton">
						</form>
					{wc:if:end}
					</div>
				</div>
			</div>
		</div>
		<div id="commentMain" class="qcomment_main">
			<ul>
				{wc:loop $shaidan_hueifu $sdhf}
				<li class="Comment_single">
					<div class="Comment_box_con clearfix">
						<div class="User_head">
						<a href="{WEB_PATH}/uname/{wc:fun:idjia($sdhf['sdhf_userid'])}" target="_blank" >
							{wc:if userid($sdhf['sdhf_userid'],'img')==null}
							<img src="{G_TEMPLATES_STYLE}/images/prmimg.jpg" width="50" height="50" />
							{wc:else}
							<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:userid($sdhf['sdhf_userid'],'img')}" width="50" height="50" border="0"/>
							{wc:if:end}		
						</a>
						</div>
						<div class="Comment_con">
							<div class="Comment_User">
								<span><a class="blue" href="#" target="_blank">{wc:fun:userid($sdhf['sdhf_userid'],'username')}</a></span>
							</div>
							<div class="C_summary">{wc:$sdhf['sdhf_content']}
							<br/><span class="Summary-time">{wc:fun:date("Y-m-d H:i",$sdhf['sdhf_time'])}</span>
							</div>
						</div>
					</div>
				</li>
				{wc:loop:end}
			</ul>
		</div>			
		<!--用户评论列表开始-->
		<div class="Comment_main clearfix" id="CommentMain"></div>
		<!--用户评论部分结束-->
	</div>
	<!--晒单左侧结束-->
	<!--晒单右侧-->
	<div class="Comment_right" id="PostDetailRight">
		<div class="Comment_victory">
	<!-- 	<div class="victory-tit">
			<span>
			<a href="javascript:void(0);" class="page-upgray"></a>
			<a href="javascript:void(0);" class="page-updow page-dow"></a>
			</span>
			<h3>其他期数获得者</h3>
		</div>
		<ul>
			<li class="victory_info">
				<div class="victory_head"><a class="blue" href="#" title="长风" target="_blank"><img src="6542.jpg"></a></div>
				<p class="victory_User"><a class="blue" href="#" title="长风" target="_blank">长风</a>获得了第10期</p>
				<p><span class="gray03">暂未晒单</span></p>
			</li>
		</ul> -->	
		<div class="Comment_share">
			<h4>最新晒单</h4>			
			{wc:loop $shaidannew $sd}
			<div class="New-single">
				<p class="New-single-time"><a class="blue" href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" target="_blank">{wc:fun:userid($sd['sd_userid'],'username')}</a>{wc:fun:date("Y年m月d日 H:i",$sd['sd_time'])}</p>
				<p class="New-single-C"><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">{wc:fun:_strcut($sd['sd_content'],100)}</a></p>
				<div class="New-singleImg"><div class="arrow arrow_Rleft"><em>◆</em></div>
					<a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">
						<img border="0" src="{G_UPLOAD_PATH}/{wc:$sd['sd_thumbs']}">
					</a>
				</div>
			</div>
			{wc:loop:end}
		</div>
		</div>
	</div>
</div>
<script>
$(function(){
	if($.cookie('xianmu')=={wc:$shaidan['sd_id']}){
		$("#emHits").addClass("smile-have");
		return false;
	}
	$("#emHits").click(function(){		
		$.post(
			"{WEB_PATH}/go/shaidan/xianmu",
			{id:"{wc:$shaidan['sd_id']}"},
			function(data){
				$("#emHits em").text(data);
				$("#emHits").addClass("smile-have");
				$.cookie("xianmu","{wc:$shaidan['sd_id']}", { expires:7,path: '/'});
			}
		);
	})
})
</script>
{wc:templates "index","footer"}