
{wc:templates "index","header"}
   <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/index1.css" />
    <!--banner图 -->
	<div class="a_banner1"></div>
	<div class="a_banner2"></div>
	<!--5个认证 -->
	<div class="a_container" id="rz1">
		<div class="a_identify a_left ad1">
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>01</span> 诚信网站认证</dd>
				<dd class="a_sm">诚信网站认证证书是由中国电子商务协会认证。</dd>
				<dd class="a_intro">中国电子商务协会隶属于北京网诚天下信息技术有限公司为进一步促进数字服务产业的转型升级，推进中国数字服务行业规范建设，提高数字服务领域企业的创新水平，促进数字服务发展，中国电子商务协会在2010年12月28日召开的第十三届中国国际电子商务大会上正式挂牌成立  
					<a href="http://www.szfw.org/14867-994/30055.html" target="_blank">更多>></a>
				</dd>
				<!--dd class="a_home">官方网址：<a href="http://www.szfw.org/" target="_blank">http://www.szfw.org/</a></dd>
				<dd class="a_web">认证查询网址：<a href="http://www.szfw.org" target="_blank">http://www.szfw.org</a></dd-->
			</dl>
			<a class="a_click" href="http://www.szfw.org" target="_blank"></a>
		</div>
	</div>
	<div class="a_container2" id="rz2">
		<div class="a_identify a_right  ad2">
			<a class="a_click" href="http://www.knet.cn/" target="_blank"></a>
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>02</span> 可信网站认证</dd>
				<dd class="a_sm">可信网站认证证书是由中网认证</dd>
				<dd class="a_intro">北龙中网（北京）科技有限责任公司（简称 中网）由中国科学院计算机网络信息中心（中国互联网络信息中心）资产管理公司出资组建，负有将科技创新成果产业化的职责，是互联网基础服务领域重要的科技创新产业化平台。公司定位是立足中国、面向全球的互联网基础服务提供商，公司使命是让…
					<a href="http://www.knet.cn" target="_blank">更多>></a>
				</dd>
				<!--dd class="a_home">官方网址：<a href="http://www.knet.cn/" target="_blank">http://www.knet.cn/</a></dd>
				<dd class="a_web">{wc:fun:_cfg('web_name_two')}
认证查询网址：<a href="http://www.knet.cn/" target="_blank">http://www.knet.cn/</a></dd-->
			</dl>
		</div>
	</div>
	<div class="a_container" id="rz3">
		<div class="a_identify a_left ad3">
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>03</span> 中国电子商务诚信单位认证</dd>
				<dd class="a_sm">中国电子商务诚信单位认证是由中国电子商务评价中心认证</dd>
				<dd class="a_intro">中国互联网规模已经稳居世界第二的位置，超过2亿的网民，其中网络购物的网民占22%，平均一个购物网民07年下半年的购物金额超过466元。大量的互联网用户已经为电子商务代来了巨大的收益。但同时也有23.9%的网民被钓鱼网站… 
					<a href="http://www.ectrustprc.org.cn/intro.html" target="_blank">更多>></a>
				</dd>
				<!--dd class="a_home">官方网址：<a href="http://www.ectrustprc.org.cn" target="_blank">http://www.ectrustprc.org.cn</a></dd>
				<dd class="a_web">{wc:fun:_cfg('web_name_two')}
认证查询网址：<a href="http://www.ectrustprc.org.cn" target="_blank">http://www.ectrustprc.org.cn</a></dd-->
			</dl>
			<a class="a_click" href="http://www.ectrustprc.org.cn" target="_blank"></a>
		</div>
	</div>
	<div class="a_container2" id="rz4">
		<div class="a_identify a_right  ad4">
			<a class="a_click" href="http://www.ectrustprc.org.cn" target="_blank"></a>
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>04</span> 安信保认证</dd>
				<dd class="a_sm">安信保认证是由信星计划认证</dd>
				<dd class="a_intro">安信保是安全、可信和有保障的简称，也是中国信用服务品牌之一。安信保信用涉及的领域包括商业信用、金融信用与网络信用，分别应用于商业交易、银行贷款和网络交易。围绕专业市场，包括线下及线上，整合信用服务提供综合性的信用解决方案… 
					<a href="http://www.51honest.org/6_index_axb_index.jsp" target="_blank">更多>></a>
				</dd>
				<!--dd class="a_home">官方网址：<a href="http://www.51honest.org/" target="_blank">http://www.51honest.org/</a></dd>
				<dd class="a_web">{wc:fun:_cfg('web_name_two')}
认证查询网址：<a href="http://www.51honest.org" target="_blank">http://www.51honest.org</a></dd-->
			</dl>
		</div>
	</div>
	<div class="a_container" id="rz5">
		<div class="a_identify a_left ad5">
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>05</span> 云南市场监督管理局认证</dd>
				<dd class="a_sm">监督管理局认证是由云南电子商务服务监管网认证</dd>
				<dd class="a_intro">工商网监电子标识公示（以下简称"工商网监"）是从事网络商品交易及有关服务行为的企业应当履行的法定义务。《网络商品交易及有关服务行为管理暂行办法》(国家工商总局第49号令）、《云南市场监督管理局关于电子商务市场主体… 
					<a href="" target="_blank">更多>></a>
				</dd>
				<!--<dd class="a_home">：<a href="" target="_blank">/</a></dd>
				<dd class="a_web">{wc:fun:_cfg('web_name_two')}
认证查询网址：<a href="" target="_blank"></a></dd>-->
			</dl>
			<a class="a_click" href="" target="_blank"></a>
		</div>
	</div>
	<!--三大服务 -->
	<div class="a_service" id="fw">
		<h1 class="s_head">三大服务保证</h1>
		<div>
			<dl class="a_dl">
				<dt class="d_icon1"></dt>
				<dd class="d_top">100%公平公正</dd>
				<dd class="d_bottom">整个过程完全透明，可随时查看每件商品所有参与信息及中奖记录。</dd>
			</dl>
			<dl class="a_dl">
				<dt class="d_icon2"></dt>
				<dd class="d_top">100%正品保证</dd>
				<dd class="d_bottom">{wc:fun:_cfg('web_name_two')}
精心挑选优质服务品牌商家，保障全场商品100%品牌正品。</dd>
			</dl>
			<dl class="a_dl a_last">
				<dt class="d_icon3"></dt>
				<dd class="d_top">全国免运费</dd>
				<dd class="d_bottom">{wc:fun:_cfg('web_name_two')}
承诺全场商品全国免费快递。（港澳台地区除外。）</dd>
			</dl>
		</div>
	</div>
	<!--企业信息查询 -->
	<--<div class="a_trust">
		<h1 class="s_head">企业信用信息查询</h1>
		<div class="t_box">
			
			<img class="img img1" src="{G_WEB_PATH}/statics/templates/quyu-1yygkuan/images/yxzz.jpg" width="569" height="406"/>
			<img class="img" src="{G_WEB_PATH}/statics/templates/quyu-1yygkuan/images/infor.jpg" width="569" height="406"/>
				
				<div class="query"><a class="a-all" href="http://www.szaic.gov.cn/" target="_blank">
					<h2 class="step"><span>查询方法</span></h2>
					<div class="step1">
						<dl class="s_dl">
							<dt class="dt">01</dt>
							<dd class="he">官网点击商事主体登记及许可审批信息</dd>
							<dd class="lj">http://www.szaic.gov.cn/</dd>
							<dd><img class="step_img" src="{G_WEB_PATH}/statics/templates/quyu-1yygkuan/images/step1.jpg" width="272" height="127" /></dd>
						</dl>
					</div>
					<div class="step2">
						<dl class="s_dl">
							<dt class="dt">02</dt>
							<dd class="he">在打开的页面输入公司全称及验证码</dd>
							<dd><img class="step_img" src="{G_WEB_PATH}/statics/templates/quyu-1yygkuan/images/step2.jpg" width="337" height="127" /></dd>
						</dl>
					</div>
					<div class="step3">
						<dl class="s_dl">
							<dt class="dt">03</dt>
							<dd class="he">查到数据后点击查看详情即可</dd>
							<dd><img class="step_img" src="{G_WEB_PATH}/statics/templates/quyu-1yygkuan/images/step3.jpg" width="316" height="127" /></dd>
						</dl>
					</div>
					</a>
				</div>
		</div>
	</div>
	<!--网站备案 -->
	<--<div class="a_enter">
		<h1 class="s_head">网站备案信息</h1>
		<div class="e_box">
			<div class="e_intro">
				<h1>什么是网站备案信息？</h1>
				<p>网站备案是根据国家法律法规需要网站的所有者向国家有关部门申请的备案，主要有ICP备案和公安局备案。非经营性网站[1]备案（Internet Content Provider Registration Record），
					指中华人民共和国境内信息服务互联网站所需进行的备案登记作业。2005年2月8日，中华人民共和国信息产业部部长王绪东签发《非经营性互联网信息服务备案管理办法》，并于3月20日正式实施。
					该办法要求从事非经营性互联网信息服务的网站进行备案登记，否则将予以关站、罚款等处理。为配合这一需要，信息产业部建立了统一的备案工作网站，接受符合办法规定的网站负责人的备案登记。
					网站备案所需资料，企业网站备案需要准备:1份(营业执照)副本彩色扫描件或复印件;1份网站负责人的身份证彩色扫描件或复印件等。</p>
				<p class="e_web">查询网址：<a href="http://www.miitbeian.gov.cn" target="_blank">http://www.miitbeian.gov.cn</a></p>
				<p>查询方法：打开网址后，点击右上角“备案信息查询”，出现右侧界面，输入备案号“粤ICP备09213115号”和验证码即可查询。</p>
			</div>
			<div class="e_img"><a href="http://www.miitbeian.gov.cn" target="_blank"><img src="{G_WEB_PATH}/statics/templates/quyu-1yygkuan/images/enter.jpg" width="530" height="293" alt="网站备案信息"/></a></div>
		</div>
	</div>-->
   {wc:templates "index","footer"}
