{wc:templates "index","header"}
<div class="main-content clearfix">
{wc:templates "member","left"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-topic.css"/>
<div class="R-content">
	<div class="subMenu">
		<a class="current">发表的话题({wc:fun:count($tiezi)})</a>
		<a >发表的回复({wc:fun:count($hueifu)})</a>
	</div>
	<div class="list-tab topic" style="display: block;">
		{wc:if !$tiezi}
		<div class="tips-con"><i></i>您还未有发表话题哦</div>
		{wc:else}
		<ul class="listTitle">
			<li class="w400">话题</li>
			<li class="w100">所属圈子</li>
			<li class="w130">时间</li>
			<li class="w85">回复/人气</li>
			<li class="w85 fr">操作</li>
		</ul>
		{wc:loop $tiezi $tz}
		<ul class="listCon">
			<li class="w400"><a href="{WEB_PATH}/group/nei/{wc:$tz['id']}" target="_blank" class="gray01">{wc:$tz['title']}</a></li>
			<li class="w100"><a href="{WEB_PATH}/group/show/{wc:$tz['qzid']}" target="_blank" class="blue">{wc:fun:quanzid($tz['qzid'])}</a></li>
			<li class="w130 gray03">{wc:fun:date("Y-m-d H:i:s",$tz['time'])}</li>
			<li class="w85 gray03">{wc:$tz['hueifu']}/{wc:$tz['dianji']}</li>
			<li class="w85 fr">
				<a href="{WEB_PATH}/group/nei/{wc:$tz['id']}" target="_blank" class="blue">编辑</a>&nbsp;&nbsp;
				<a name="delete" href="javascript:;" onclick="tiezi({wc:$tz['id']})" class="blue">删除</a>
			</li>
		</ul>
		{wc:loop:end}
		{wc:if:end}
	</div>
	<div class="list-tab topic" style="display: none;">
		{wc:if !$hueifu}
		<div class="tips-con"><i></i>您还未有发表话题哦</div>
		{wc:else}
		<ul class="listTitle">
			<li class="w630">回复内容</li>
			<li class="w50 fr">操作</li>
		</ul>
		{wc:loop $hueifu $hf}
		<ul class="listCon">
			<li class="w630"><div class="listConT">{wc:fun:date("Y年m月d日 H:i",$hf['hftime'])}对话题“
			<a href="{WEB_PATH}/group/nei/{wc:$hf['tzid']}" target="_blank" class="blue">{wc:fun:tztitle($hf['tzid'])}</a>
			”进行了回复：</div>{wc:$hf['hueifu']}</li>
			<li class="w50 fr"><a name="delete" onclick="hueifu({wc:$hf['id']})" href="javascript:;" class="blue">删除</a></li>
		</ul>
		{wc:loop:end}
		{wc:if:end}
	</div>
</div>
<script>
$(function(){
	$(".subMenu a").click(function(){
		var id=$(".subMenu a").index(this);
		$(".subMenu a").removeClass().eq(id).addClass("current");
		$(".R-content .topic").hide().eq(id).show();
	});
})
function tiezi(id){
	if(confirm("您确认要删除该条信息吗？")){
		window.location.href="{WEB_PATH}/member/home/tiezidel/"+id;
	}
}
function hueifu(id){
	if(confirm("您确认要删除该条信息吗？")){
		window.location.href="{WEB_PATH}/member/home/hueifudel/"+id;
	}
}
</script>
</div>
{wc:templates "index","footer"}