<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>触屏手机版_{wc:fun:_cfg('web_name_two')}</title>
    <meta name="keywords" content="{wc:if isset($keywords)}{wc:$keywords}{wc:else}{wc:fun:_cfg("web_key")}{wc:if:end}" />
<meta name="description" content="{wc:if isset($description)}{wc:$description}{wc:else}{wc:fun:_cfg("web_des")}{wc:if:end}" />
  
    <link rel="stylesheet" type="text/css" href="{G_WEB_PATH}/app/css/Comm.css?date=20140731" />
<!--[if IE 6]>
    <script type="text/javascript" src="http://skin.1yyg.com/js/iepng.js"></script>
    <script type="text/javascript">
        EvPNG.fix('span.Hicon,a.F-icon-guest s,a.F-icon-gray s,s.u-banner-close,.F-number-l,.F-number-r,.M-nav-help a s,.g-good-faith li s,a.pre,a.next,.u-topic-icon i,.u-topic-icon s,.M-security a s,.roll_close a');
    </script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{G_WEB_PATH}/app/css/layout.css?date=20141013" />
    <script language="javascript" type="text/javascript" src="{G_WEB_PATH}/app/js/JQuery132.js"></script>
</head>
<body>
    <div class="tContent">
        <div class="tMain">
            <div class="tHead">
                <ul>
                    <li class="tLogo"><a href="{G_WEB_PATH}" class="tHome"><img src="{G_UPLOAD_PATH}/logo2.png" /></a><img src="app/images/line.gif" class="line" /><a href="/?/go/index/touch" title="" class="txt"></a></li>
                    <li class="tNav">
                      <a href="{G_WEB_PATH}" title="首页" class="tReturn">首页</a>
                        <a href="{G_WEB_PATH}/?/go/index/touch" title="" class="current"></a>
                        <a href="{G_WEB_PATH}/?/go/index/app" title="手机版" >手机版</a>
                        <a href="{G_WEB_PATH}/?/go/index/desktop" title=""></a>
                        <a href="{G_WEB_PATH}/?/go/index/weixin" title=""></a>
                </ul>
            </div>
            <div class="tPic">
                <img src="app/images/pic_03.jpg?v=0902" />
                <img src="app/images/pic_05.jpg?v=0902" />
                <img src="app/images/pic_06.jpg?v=0902" />
                <img src="app/images/pic_07.jpg?v=0902" />
            </div>
            <div class="tInfo">
                <div class="tTitle">功能特色</div>
                <ul>
                    <li class="w380"><dd><s class="a1"></s></dd><dt><span>随时随地，所有商品，一览无余！</span>即将揭晓、最新上架，及时查看，不错过任何一次机会！</dt></li>
                    <li class="w450"><dd><s class="a2"></s></dd><dt><span>是不是我中了？第一时间看到！</span>中奖信息，不用等待短信或邮件通知，第一时间查看揭晓结果！</dt></li>
                    <li class="w380"><dd><s class="a3"></s></dd><dt><span>中奖了？随时登录填写地址！</span>中奖了第一时间填上地址，更快速完成操作，即可更快的收到商品哦！</dt></li>
                    <li class="w450"><dd><s class="a4"></s></dd><dt><span>又有人晒单了，看看都是谁吧！</span>有人晒单，谁又回复了我的晒单？ 随时掌握晒单动态！</dt></li>
                </ul>
            </div>
        </div>
    </div>
    {wc:templates "index","footer"}