<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>APP客户端下载页</title>
<link rel="stylesheet" href="{G_WEB_PATH}/app2/img/app.css"></head>
<body style="">
<div id="header">
    <a class="site-logo" href="{G_WEB_PATH}"><img src="{G_WEB_PATH}/app2/img/logo.png"></a>
</div>
<div id="content">
    <div class="page" id="page-1" style="">
        <div class="phone-wrapper position" style="">
            <div class="top">
                <div class="phone" style="top: 0px;"></div>
                <div class="circle"></div>
                <div id="wheel-1" style="-webkit-transform: rotate(117deg); -webkit-transform-origin: 50% 50%;"></div>
                <div id="wheel-2" style="-webkit-transform: rotate(117deg); -webkit-transform-origin: 50% 50%;"></div>
                <div id="wheel-3" style="-webkit-transform: rotate(117deg); -webkit-transform-origin: 50% 50%;"></div>
                <div id="wheel-4" style="-webkit-transform: rotate(117deg); -webkit-transform-origin: 50% 50%;"></div>
            </div>
        </div>
        <div class="fixed" style="top: 364.5px; left: 980px; position: fixed;">
            <div class="top-1">
                <div id="description" style="z-index: 11; background-position: 0px 0px;">
                </div>
                <div id="qrcode-wrapper">
                    <div class="qrcode"></div>
                    <div id="btn">
                        <a href="{G_WEB_PATH}/app2/download/android.apk">立即下载</a>
                    </div>
					                    <div class="qrcode-apple"></div>
                    <div id="btn-apple">
                        <a href="{G_WEB_PATH}/app2/download/iphone.ipa">立即下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page" id="page-2">

    </div>
    <div class="page" id="page-3">

    </div>
    <div class="page" id="page-4">

    </div>
    <div class="footer" id="page-5">

    </div>
</div>


<script src="{G_WEB_PATH}/app2/img/saved_resource.js"></script>
</body></html>
