{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/link.css"/>
 
 <SCRIPT language=javascript> 
	  function Onsubmit(){


		  

		  flag=0;
			for(var i=0;i<document.getElementsByName("radio").length;i++){		 
			   if(document.getElementsByName("radio").item(i).checked==true){
				flag=1;
				break;
			   }
			}
			if(!flag){
			   alert("请选择投票项！！！");
			   return false;
			   } 
	     

 

 
	   }
  </SCRIPT>

<form name="form1" action="{WEB_PATH}/vote/vote/checked_option" onSubmit="return Onsubmit()" method="post"> 
<form>
<div class="links_txt">
	<h3><b>标题：{wc:$vote_title}</b></h3>
	<input type="hidden" name="vote_id" value="{wc:$vote_id}"/>
	<ul style="border:1px solid #989898;margin-left:100px;width:500px;">
	{wc:loop $vote_options $option_val}	
		<li  style="width:100%;"><input name="radio" type="radio" value="{wc:$option_val['option_id']}"   />{wc:$option_val['option_title']}</li>
		
		 
	{wc:loop:end}	
	</ul>
 
 
</div>
<input type="submit" value="提交投票"  style="margin-left:300px;"/>
 
  	 	
		 
	 	
	 
</form>
 
	
 <link href="{wc:G_TEMPLATES_CSS}/vote/1.css" rel="stylesheet" type="text/css" />  
<link href="{wc:G_TEMPLATES_CSS}/vote/table_form.css" rel="stylesheet" type="text/css" />
 
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/link.css"/> 

 
  
<div class="links_txt" style="margin:0 auto;">
	<ul class="tabBut cu-li">
		<h3><b>投票结果</b><span style="float:right;margin-right:500px;">投票总数:{wc:$total} </span></h3>
	</ul>
<div class="content pad-10" style="float:left;width:960px;text-align:center">
	<table width="100%" align="center" cellspacing="0" class="table-list">
		<thead>
			<tr>
				<th>投票项目选项</th>
				<th width="20%" align="center">投票数</th>
				<th width='40%' align="center">图示</th>
			</tr>
		</thead>
	   <tbody>		 
		{wc:loop $vote_options $vote_opval}
		<tr>
			<td> {wc:$vote_opval['option_title']}</td>
			<td align="center">{wc:$vote_opval['option_number']}</td>
			<td align="center">
			<div class="vote_bar">
				<div style="width:100%;text-align:center"><span align="center">{wc:$vote_number_total[$vote_opval['option_id']]}%</span> </div>
			</div>
			</td>		
		</tr>
		{wc:loop:end}	 
		</tbody>
		 
	</table>
 
</div>
</div>
 
  

  
{wc:templates "index","footer"}

 




 